.bundled {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    /* background-color: blue; */
    max-width: 200px;
    min-height: 110px;
    display: inline-block;
    color: black;
    padding: 1.5rem;
    background-color: #b1dafb;
    margin: 1.4rem;
    box-shadow: 7px 5px 10px #000A;
    justify-content: space-evenly;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 1.1rem;
}

/*
TODO
make website for tech assist


*/

.paragraphCost {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    /* margin-top: auto; */
}

.paragraph {
    font-size: 1rem;
    display: block;
}

.paragraph::first-letter {
    margin-left: 0.5rem;
}

.highlighted {
    background-color: white;
    border: 3px black solid;
}