.navigation {
    margin: 0;
    padding: 0 0;
    background-color: #6595BA;
}

.titleHeader {
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

.unorderedList {
    text-align: center;
    list-style: inside;
    display: flex;
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
}

/* .unorderedList li {
    flex-basis: 50%;
} */

/* .unorderedList:nth-child(1) {
    background-color: blue;
} */
.listItem:last-child {
    border-right: none;
}

.listItem {
    display: inline;
    flex: auto;
    margin: auto 5rem;
    padding: 13px;
    color: white;
    font-size: 1.3rem;
    font-family: "Dosis", sans-serif, 300;
    font-weight: 300;
    background-color: #6595BA;
    border-radius: 5rem;
    /* border-right: 3px solid black; */
}

.navBar {
    min-height: 4rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    background-color: #f5f5f5;
}


/*
package designer....

Needs to add design.
App
Website
Security
Database
Ui analysis
Brand analysis
*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .unorderedList {
        width: 100%;
    }
}