html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Air Millhouse";
  src: local("Air Millhouse"), url(../fonts/airmill_o.ttf) format("truetype");
}

@font-face {
  font-family: "Air Millhouse";
  src: local("Air Millhouse"), url(../fonts/air_mitalic.ttf) format("truetype");
}
